*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
    position: relative;
    margin-top: 0;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/fonts/poppins-bold-webfont.woff) format('woff')
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/fonts/poppins-bold-webfont.woff) format('woff')
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/fonts/poppins-medium-webfont.woff) format('woff')
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/fonts/poppins-medium-webfont.woff) format('woff')
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/fonts/poppins-light-webfont.woff) format('woff')
}
:root{
    --color_C90000:#C90000;
    --color_7D7C7C:#7D7C7C;
    --color_504F4F:#504F4F;
    --color_323232:#323232;
    --color_FFC300:#FFC300;
    --color_FFF6A3:#FFF6A3;
    --color_FFFDE6:#FFFDE6;
    --color_E3E3E3:#E3E3E3;
    --color_F1F1F1:#F1F1F1;
    --color_rgb_122_144_176:rgba(112, 144, 176, 0.20);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
header{
    max-width: 1200px;
    margin: 1rem auto 0 auto;
}
.nav{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
button{
    font-family: Poppins;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;

}
.nav ul li:not(:first-child) a{
    color: var(--color_7D7C7C);
    font-weight: 500;
}
.nav ul li:first-child a{
    color: var(--color_C90000);
    font-weight: 600;
    padding-left: 10px;
}
.icon-burger{
    display: none;
    max-width: 30px;
}
.nav-links a{
    border: 1px solid var(--color_C90000);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.nav-links a:first-child{
    color: var(--color_C90000);
    padding: 10px 16px;
}
.nav-links a:last-child{
    padding: 10px 16px;
    background-color: var(--color_C90000);
    color: #fff;
}
.header-content{
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.header-content-right img{
    max-height: 550px;
}
.header-content-left{
    max-width: max-content;
    align-self: center;
}
.header-content-left h1{
    color: var(--color_C90000);
    line-height: 76px;
    margin-bottom: 0.8rem;
    font-size: 48px;
    font-weight: 700;
}
.header-content-left p{
    color: var(--color_7D7C7C);
    margin-bottom: 2rem;
    line-height: 25px;
    font-weight: 500;
}
.order span:first-child{
    font-weight: 300;
}
.order span:last-child{
    font-weight: 600;
    font-size: 24px;
    color: var(--color_323232);
}
.order-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 1.5rem;
}
.order-btns-mobile{
    display: none;
}
.order-btn1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 150px;
    border: 1px solid var(--color_rgb_241);
    border-radius: 100px;
    padding: 8px 16px;
    box-shadow: 0 10px 17px 0 var(--color_rgb_122_144_176);
}
.order-btn1 span{
    color: var(--color_FFC300);
}
.order-btn1 button{
    border: none;
    background-color: #fff;
    font-size: 22px;
    color: var(--color_7D7C7C);
    padding: 0.5rem;
}
.order-btn2{
    border: none;
    background-color: var(--color_FFC300);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 160px;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
main{
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    margin-bottom: 100px;
    position: relative;
}
.item{
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    max-width: max-content;
}
.border-item{
    height: 8px;
    width: 96%;
    position: relative;
    top: -16px;
    left: 3px;
    z-index: -1;
    background-color: var(--color_FFF6A3);
}
.section1-category{
    display: grid;
    grid-auto-columns: 178px;
    grid-auto-flow: column;
    gap: 20px;
    margin-top: 32px;
    overflow-x: auto;
}
.section1-category button{
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    padding: 14px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: all 250ms ease-in;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}
.section1-category button:hover{
    background-color: var(--color_FFC300) !important;
    color: var(--color_323232) !important;
    font-weight: 600 !important;
}
.delivery-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.delivery{
    top: 50px;
    left: -100px;
    position: absolute;
    max-width: 150px;
    padding:  0.8rem 1.5rem;
    background-color: var(--color_F1F1F1);
    border-radius: 50px 50px 0 50px;
    -webkit-border-radius: 50px 50px 0 50px;
    -moz-border-radius: 50px 50px 0 50px;
    -ms-border-radius: 50px 50px 0 50px;
    -o-border-radius: 50px 50px 0 50px;
}
.delivery > span{
    color: var(--color_7D7C7C);
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
.header-content-right{
    position: relative;
}
.products{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 30px;
}
.img-food{
    position: relative;
    text-align: center;
}
.img-food img{
    max-width: 227px;
    max-height: 170px;
}
.product{
    border: 1px solid var(--color_E3E3E3);
    padding: 1rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    
}
.background{
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 80px;
    background-color: var(--color_FFFDE6);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.product h5{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    color: var(--color_323232);
}
.product p{
    font-size: 14px;
    color: var(--color_504F4F);
    font-weight: 400;
    margin-top: 5px;
}
.rate{
    margin: 12px 0 20px 0;
}
.bottom-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-product span{
    color: var(--color_323232);
    font-size: 24px;
    font-weight: 700;
}
.bottom-product button{
    background-color: var(--color_C90000);
    border-radius: 8px;
    border: none;
    padding:  6px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.star{
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
}
.drink{
    width: 150px;
}
.main-section2{
    margin-top: 150px;
}
.item2{
   margin: 0 auto;
}

.content-right-sale-off img{
    position: relative;
    transform: scale(1.7);
    top: 120px;
    width: 130px;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
}
.sale-off-img-second{
    left: -60px;
}
.content-left-sale-off{
  width: 90%;
}
.sale-off-boxs{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 30px;
    margin-top: 1.8rem;
}
.sale-off-box{
    overflow-x: hidden;
    display: flex;
    height: 335px;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    padding: 2rem 0 2rem 2rem;
    transition: all 250ms ease-in;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}
.sale-off-box p{
    color: var(--color_504F4F);
   font-size: 16px;
   font-weight: 400;
}
.sale-off-box h5{
    color: var(--color_C90000);
    font-size: 27px;
    font-weight: 600;
    padding: 0.9rem 0;
    white-space: nowrap;
    transition: all 250ms ease-in;
    text-transform: uppercase;
}
.percent{
    margin-top: 1rem;
}
.percent del{
    color: var(--color_7D7C7C);
    font-size: 16px;
    font-weight: 600;
}
.percent span{
    color: var(--color_C90000);
    font-size: 24px;
    font-weight: 600;
    margin-top: 0.5rem;
    display: inline-block;
}
.content-left-sale-off button{
    background-color: var(--color_504F4F);
    color: var(--color_F1F1F1);
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    font-family: poppins;
    display: flex;
    align-items: center;
    column-gap: 3px;
    padding: 8px 12px;
    transition: all 250ms ease-in;
    border: none;
    margin-top: 4rem;
}
.sale-off-box:hover{
    background-color: var(--color_C90000);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.sale-off-box:hover h5 ,.sale-off-box:hover .percent span{
    color: var(--color_FFC300);
}
.sale-off-box:hover p,.sale-off-box:hover del{
    color: var(--color_FFFDE6);
}
.sale-off-box:hover button{
    color: var(--color_323232);
    background-color: #fff;
}
.sale-off-box:hover button svg path{
    fill: var(--color_323232);
}
.section3{
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: flex-end;
    background-color: var(--color_F1F1F1);
    border: 1px solid var(--color_E3E3E3);
    border-radius: 0 500px 500px 0;
    max-width: 90%;
    margin-top: 10rem;
    margin-bottom: 100px;
}
.sec3-left img{
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    position: relative;
    max-width: 380px;
    top: -23px;
}
.sec3-right span{
    color: var(--color_7D7C7C);
    font-size: 20px;
    font-weight: 500;
}
.sec3-right h6{
    color: var(--color_C90000);
    font-size: 45px;
    font-weight: 500;
    margin: 1rem 0;
}
.sec3-right p{
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 77%;
}
.sec3-right a img{
    margin-top: 32px;
    max-width: 180px;
    display: inline-block;
}
.sec3-right a:last-child{
    padding-left: 50px;
    display: inline-block;
}
.sec3-right{
    padding: 2rem;
    justify-self: center;
    align-self: center;
}
.sec3-right img{
    width: 150px;
}
.section4{
    position: relative;
    max-width: 1200px;
    margin: 10rem auto 5rem auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color_323232);
    border-radius: 20px;
    height: 398px
    
}
.section4 img{
    max-width: 187px;
    object-fit: cover;
    position: absolute;
}
.section4 img:nth-child(5){
    right: 60%;
    bottom: 0;
}
.section4 img:nth-child(4){
   left: 0;
}
.section4 h6{
    color: var(--color_FFFDE6);
    font-size: 48px;
    font-weight: 500;
}
.section4 p{
    color: var(--color_F1F1F1);
    font-size: 16px;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}
.rawper-input{
    min-width: 320px;
    position: relative;
}
.section4 input{
    width: 350px;
    background-color: var(--color_FFC300);
    border-radius: 100px;
    padding: 0 10px;
    height: 50px;
    border: none;
    outline: none;
}
.section4 button{
    position: absolute;
    top: 9px;
    right: 10px;
    border: none;
    font-family: Poppins;
    background-color: #fff;
    border-radius: 100px;
    padding: 10px 24px;
}
footer{
    background-color: var(--color_FFFDE6);

}
.section-footer{
    max-width: 1200px;
    margin: 1rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
}
.section-footer img{
    max-width: 70px;
}
.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo-footer h6{
    color: var(--color_323232);
    font-size: 32px;
    font-weight: 600;
    white-space: nowrap;
}
.content1{
    align-self: center;
}
.content2, .content3{
    justify-self: center;
}
.content1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 1rem;
}
.content2 h6, .content3 h6{
    color: var(--color_323232);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 32px;
}
.content2 ul li a{
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
}
.content3 p{
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 32px;
}

.menu-respon{
    position: absolute;
    top: -20px;
    left: -250px;
    z-index: 1000;
    background-color: #fff;
    min-width: 250px;
    padding: 3rem 2rem;
    border-right: 2px solid var(--color_C90000);
    height: 100.6%;
    text-align: center;
    display: none;
}
.menu-ul-respon{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
   
}
.menu-ul-respon li a {
    transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
}
.menu-ul-respon li:hover a{
    color: #C90000 !important;
    display: inline-block;
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
}
.close{
         width: 30px;
         height: 30px;
         display: none;
}
